@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

    input[type] {
        @apply bg-transparent w-full;
    }

    textarea {
        @apply bg-transparent w-full;
    }
}

@layer components {
    .text-shadow {
        text-shadow: #ffffff1f -2px 0;
    }

    .clip-proj-left {
        -webkit-clip-path: polygon(0 0, 100% 0, 85% 100%, 0 100%);
        clip-path: polygon(0 0, 100% 0, 85% 100%, 0 100%);
    }

    .clip-proj-right {
        -webkit-clip-path: polygon(15% 0, 100% 0, 100% 100%, 0 100%);
        clip-path: polygon(15% 0, 100% 0, 100% 100%, 0 100%);
    }

    .scrollbar-hide {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }

    .scroll-btn {
        @apply bg-stone-100 rounded-full;
    }
}

@font-face {
    font-family: "Acme";
    src: url("/fonts/acme/acme.woff");
}

@font-face {
    font-family: "Bacode";
    src: url("/fonts/bacode/bacode.woff2");
}

@font-face {
    font-family: "Broadway-bt";
    src: url("/fonts/broadway-bt/broadway-bt.woff2");
}

@font-face {
    font-family: "DancingScript";
    src: url("/fonts/dancing-script/DancingScript.woff");
}

@font-face {
    font-family: "Greenhouse-gas";
    src: url("/fonts/greenhouse-gas/greenhouse-gas.woff2");
}

@font-face {
    font-family: "Impact";
    src: url("/fonts/Impact/impact.woff");
}

@font-face {
    font-family: "Quick-starter";
    src: url("/fonts/quick-starter/quick-starter.woff2");
}

@font-face {
    font-family: "RubikMicrobe";
    src: url("/fonts/RubikMicrobe-Regular.ttf");
}